# =========================
# DEPENDENCIAS / ENTORNO
# =========================
venv/
.env
.env.local

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# MODELOS Y DATOS IA
# =========================
datasets/
models/
*.pkl
*.csv

# =========================
# SISTEMA / OS
# =========================
.DS_Store

# =========================
# IDEs
# =========================
.vscode/
!.vscode/extensions.json
.idea/

# =========================
# LOGS
# =========================
*.log

# =========================
# FRONTEND (si usas Node en otro módulo)
# =========================
node_modules/
dist/
dist-ssr/
*.local