node_modules
dist
dist-ssr
*.local

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.local

.DS_Store

.vscode/*
!.vscode/extensions.json

.idea

*.log

# IA Signara
sign_ai/venv/
sign_ai/__pycache__/
sign_ai/models/*.pkl
sign_ai/data/*.csv